.header {
    color: #f0ead2; 
}

.page-title {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.welcome-message {
  padding: 0.4rem;
  padding-left: 1rem;
}